extends layout

block head

  link(
    href='/app.css'
    rel='stylesheet'
    media='screen'
  )

block scripts

  script(
    type='text/javascript'
    src='/app/vendor/nprogress.js'
  )
  script.
    NProgress.start();
    NProgress.set(0.4);
  script(
    type='text/javascript'
    src='/app.js'
  )
