extends layout

block head

  link(
    href='/app.css'
    rel='stylesheet'
    media='screen'
  )

block body
  body
    script(
      type='text/javascript'
      src='/app/vendor/nprogress.js'
    )
    script.
      NProgress.start();
      NProgress.set(0.4);
    script.
      window.S3 = '!{JSON.stringify(config.S3)}';
      S3 = JSON.parse(S3);
    script(
      type='text/javascript'
      src='/app.js'
    )
    script.
      require('app');