doctype html
html(lang='en')
  head

    meta(
      charset='UTF-8'
    )
    meta(
      http-equiv='X-UA-Compatible'
      content='IE=edge, chrome=1'
    )
    meta(
      name='viewport'
      content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width'
    )
    meta(
      name='description'
      content=''
    )

    title #{config.title}

    link(
      href='/public.css'
      rel='stylesheet'
      media='screen'
    )

    script.
      window.CONFIG = {
        title: '#{config.title}'
      };

    block head

  body

    block body

    block scripts
