extends layout

block head

  link(
    href='/app.css'
    rel='stylesheet'
    media='screen'
  )
  
  if quiz.metaTitle
    title #{quiz.metaTitle}
    meta(
      name="twitter:title"
      content='#{quiz.metaTitle}'
    )
    meta(
      property="og:title"
      content='#{quiz.metaTitle}'
    )
    meta(
      itemprop="name"
      content='#{quiz.metaTitle}'
    )
  else 
    title #{quiz.title}
    meta(
      name="twitter:title"
      content='#{quiz.title}'
    )
    meta(
      property="og:title"
      content='#{quiz.title}'
    )
    meta(
      itemprop="name"
      content='#{quiz.title}'
    )
  
  if quiz.metaDesc
    meta(
      name='description'
      content='#{quiz.metaDesc}'
    )
    meta(
      name="twitter:description"
      content='#{quiz.metaDesc}'
    )
    meta(
      property="og:description"
      content='#{quiz.metaDesc}'
    )
    meta(
      itemprop="description"
      content='#{quiz.metaDesc}'
    )
  else
    meta(
      name='description'
      content='#{quiz.excerpt}'
    )
    meta(
      name="twitter:description"
      content='#{quiz.excerpt}'
    )
    meta(
      property="og:description"
      content='#{quiz.excerpt}'
    )
    meta(
      itemprop="description"
      content='#{quiz.excerpt}'
    )

  if quiz.metaImage
    meta(
      property="og:image"
      content="#{quiz.metaImage}"
    )
    meta(
      itemprop="image"
      content="#{quiz.metaImage}"
    )
    meta(
      property="og:image"
      content="#{quiz.metaImage}"
    )

  if quiz.url
    meta(
      property="og:url"
      content='#{quiz.url}'
    )

  meta(
    name="twitter:card" content="summary_large_image"
  )
  meta(
    name="twitter:site"
    content="Rasmussen"
  )

  if prod
    script(
      type='text/javascript'
      src='http://fast.fonts.net/jsapi/7701dc6b-2a73-4858-972c-07b9d695c0a8.js'
    )
  //- Google Tag Manager
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WJBQ9V" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WJBQ9V');</script>

block body
  body.out
    .container

      form(
        action=''
      )

        .quiz
          
          .row-fluid
            h1.title #{quiz.title}

            if quiz.fullName
              p.quiz-author
                em By #{quiz.fullName}

            if quiz.image
              img.quiz-image(src='#{quiz.image}')
            //- img.quiz-image.testImage(src='https://s3-us-west-2.amazonaws.com/quiz-maker-2/2014-07-06t14-17-06-614z')
            //- nbed

            if quiz.excerpt
              p.quiz-desc #{quiz.excerpt}


        each question in quiz.questions

          .question.form-group(
            id='#{question._id}'
          )
            .inner(
              id='#{question._id}-inner'
            )
              .row-fluid
                h3 #{question.title}

                if question.image
                  img.question-image(src='#{question.image}')
                //- img.question-image.testImage(src='https://s3-us-west-2.amazonaws.com/quiz-maker-2/2014-07-06t14-17-06-614z')
                //- nbed
                
              .row-fluid.clearfix
                each answer in question.answers


                  .form-group.clearfix(
                    class= quiz.type==1 ? 'checkbox' : 'radio'
                  )(
                    class= answer.image ? 'hasImage' : 'noImage'
                  )
                    label
                      if answer.image
                        img(src='#{answer.image}')
                      //- img.quiz-image.testImage(src='https://s3-us-west-2.amazonaws.com/quiz-maker-2/2014-07-06t16-26-19-559z')
                      //- nbed
                      if quiz.type == 1
                        input(
                          type='checkbox'
                          name='answer-#{question._id}'
                          data-question='#{question._id}'
                          data-answer='#{answer._id}'
                        )
                      else
                        input(
                          type='radio'
                          name='answer-#{question._id}'
                          data-question='#{question._id}'
                          data-answer='#{answer._id}'
                          value='#{answer._id}'
                          required='required'
                        )
                      | #{answer.title}

        #finalResult
          .row-fluid
            button#submitBtn.btn.btn-default(type='submit')
              | Show me my results!

      .footer
        .addthis_toolbox.addthis_default_style.addthis_32x32_style.addthis_horizontal.col-sm-6
            a.addthis_button_facebook
            a.addthis_button_twitter
            a.addthis_button_google_plusone_share
            a.addthis_button_linkedin
            a.addthis_button_embed.embedLink(
              href='#'
              title='Embed this quiz'
            ) Embed
            a.addthis_button_compact
            a.addthis_counter.addthis_bubble_style
    
        .logoContainer.col-sm-6
          a.logo(
            href='http://www.rasmussen.edu/'
            target='_blank'
          ) 
            img(
              alt='Rasmussen College'
              src='/out/images/rasmussen-logo.png'
              width='210'
              height='45'
            )

    #embed
      h5 Love it? Embed it on your website or blog:
      a.embedLink.closeEmbed(href="#") &times;
      textarea#embedEl(onClick="this.select();")

  script.
    window.QUIZ =  JSON.parse(!{JSON.stringify(quiz_str)});

  script(
    type='text/javascript'
    src='/out/vendor/iframeresizer.contentwindow.min.js'
  )
  script(
    type='text/javascript'
    src='/out.js'
  )
  script.
    require('out');

  script.
    window.addthis_share = window.addthis_share || {};
    addthis_share = {
      passthrough : {
        twitter: {
          via: "Rasmussen",
          url: "#{quiz.url}",
          text: "#{quiz.metaTitle}"
        }
      }
    };

  if prod
    script(
      src="//s7.addthis.com/js/300/addthis_widget.js"
    )
