extends layout

block head

  link(
    href='/app.css'
    rel='stylesheet'
    media='screen'
  )
  if prod
    script(
      type='text/javascript'
      src='http://fast.fonts.net/jsapi/7701dc6b-2a73-4858-972c-07b9d695c0a8.js'
    )

block body
  body.out
    .container

      .quiz
        
        .row-fluid
          h1.title #{quiz.title}

          if quiz.fullName
            p.quiz-author
              em By #{quiz.fullName}

          if quiz.image
            img.quiz-image(src='#{quiz.image}')
          //- img.quiz-image.testImage(src='https://s3-us-west-2.amazonaws.com/quiz-maker-2/2014-07-06t14-17-06-614z')
          //- nbed

          if quiz.excerpt
            p.quiz-desc #{quiz.excerpt}


      each question in quiz.questions

        .question.form-group(
          id='#{question._id}'
        )
          .inner(
            id='#{question._id}-inner'
          )
            .row-fluid
              h3 #{question.title}

              if question.image
                img.question-image(src='#{question.image}')
              //- img.question-image.testImage(src='https://s3-us-west-2.amazonaws.com/quiz-maker-2/2014-07-06t14-17-06-614z')
              //- nbed
              
            .row-fluid.clearfix
              each answer in question.answers


                .form-group.clearfix(
                  class= quiz.type==1 ? 'checkbox' : 'radio'
                )(
                  class= answer.image ? 'hasImage' : 'noImage'
                )
                  label
                    if answer.image
                      img(src='#{answer.image}')
                    //- img.quiz-image.testImage(src='https://s3-us-west-2.amazonaws.com/quiz-maker-2/2014-07-06t16-26-19-559z')
                    //- nbed
                    if quiz.type == 1
                      input(
                        type='checkbox'
                        name='answer-#{question._id}'
                        data-question='#{question._id}'
                        data-answer='#{answer._id}'
                      )
                    else
                      input(
                        type='radio'
                        name='answer-#{question._id}'
                        data-question='#{question._id}'
                        data-answer='#{answer._id}'
                      )
                    | #{answer.title}

      if quiz.type == 1

        .row-fluid
          button#submitBtn.btn.btn-default
            | Show me my results!

      each result in quiz.results

        .result.clearfix(
          id='#{result._id}'
        )
          if result.title
            h3.resultTitle #{result.title}
          if result.image
            img.resultImage(src='#{result.image}')
          //- img.resultImage.testImage(src='https://s3-us-west-2.amazonaws.com/quiz-maker-2/2014-07-06t14-17-06-614z')
          //- nbed
          p.resultPara #{result.content}
          
      .footer
        a.logo.pull-right(
          href='http://www.rasmussen.edu/'
          target='_blank'
        ) 
          img(
            alt='Rasmussen College'
            src='/out/logo-internal-date.png'
            width='210'
            height='45'
          )

  script.
    window.QUIZ =  JSON.parse(!{JSON.stringify(quiz_str)});

  script(
    type='text/javascript'
    src='/out.js'
  )

  if prod

    script(
      type='text/javascript'
      src='https://cdn.rawgit.com/npr/responsiveiframe/master/dist/jquery.responsiveiframe.min.js'
    )
    script.
      var ri = responsiveIframe();
      ri.allowResponsiveEmbedding();
