extends layout

block head

  link(
    href='/app.css'
    rel='stylesheet'
    media='screen'
  )

block body

  .container.out

    .quiz
      
      .row-fluid

        .col-sm-12
          h1 #{quiz.title}

          if quiz.image
            img.quiz-image(src='#{quiz.image}')

        .clearfix

    each question in quiz.questions

      .question(
        id='#{question._id}'
      )
        .inner(
          id='#{question._id}-inner'
        )
          .row-fluid

            .col-sm-12
              h1 #{question.title}

              if question.image
                img.question-image(src='#{question.image}')
            .clearfix
            
          .row-fluid
            each answer in question.answers

              .col-sm-3

                if answer.image
                  .row-fluid
                    .col-sm-12
                        img(src='#{answer.image}')
                    .clearfix

                .row-fluid
                  .col-sm-2
                    p
                      if quiz.type == 1
                        input(
                          type='checkbox'
                          name='answer-#{question._id}'
                          data-question='#{question._id}'
                          data-answer='#{answer._id}'
                        )
                      else
                        input(
                          type='radio'
                          name='answer-#{question._id}'
                          data-question='#{question._id}'
                          data-answer='#{answer._id}'
                        )
                  .col-sm-10
                    p #{answer.title}
                  .clearfix

            .clearfix

    each result in quiz.results

      .result(
        id='#{result._id}'
      )

        if result.image
          .row-fluid
            .col-sm-12
                img(src='#{result.image}')
            .clearfix

        .row-fluid
          .col-sm-12
            p #{result.content}
          .clearfix

    if quiz.type == 1

      .row-fluid
        button
          | show me my results!

  script.
    window.QUIZ = '!{JSON.stringify(quiz)}';

  script(
    type='text/javascript'
    src='/out.js'
  )
