.form-group.error
  .col-sm-offset-2.col-sm-10
    | {{model.error}}
.form-group
  .label.col-sm-2.control-label Title
  .col-sm-10
    | {{input type='text' class='form-control' value=model.title required='required' placeholder='Title of the quiz'}}
.form-group
  .label.col-sm-2.control-label Image
  .col-sm-10
    | {{view App.UploadView recordBinding='model'}}
.form-group
  .label.col-sm-2.control-label Excerpt
  .col-sm-10
    | {{textarea class='form-control' value=model.excerpt placeholder='Short description of the quiz ...' rows='3'}}
.form-group
  .label.col-sm-2.control-label Author
  .col-sm-10
    | {{input type='text' class='form-control' value=model.fullName required='required' placeholder='Enter your Full Name like Alan Smithee'}}
.form-group
  .label.col-sm-2.control-label Quiz type
  .col-sm-10
    | {{view Em.Select  class='form-control' valueBinding='model.quizType' contentBinding='controller.controllers.quizzes.quizTypes' optionLabelPath='content.label' optionValuePath='content.value'}}

.row
  .col-sm-12.clearfix
    h3 Results 
    | {{#if model.isTypeOne}}
    p <strong>Note:</strong> There should ideally be the same number of results as there are answers for each question, but this is not compulsory.
    | {{else}}
    p <strong>Note:</strong> Each result applies to a range band, e.g. If you have 20 questions and two results, then you might make the first result show for users who answer between 0 and 10, and the second one show between 11 and 20. Supply numerical minimum and maximum values for each range band.
    | {{/if}}
    | {{#each result in model.results}}

    include _result

    | {{/each}}
  

    //- .form-group
    //- .col-sm-offset-2
    <button {{action 'addResult' model target=controller.controllers.quizzes}} type='button' class='btn btn-info btn-sm'>
    span.glyphicon.glyphicon-plus
    |  Add Result
    </button>
    hr

.row
  .col-sm-12
    | {{#if model.isTypeTwo}}
    h3 Checkbox rows
    | {{else}}
    h3 Questions
    | {{/if}}
    | {{#each question in model.questions}}

    include _question

    | {{/each}}


| {{#unless model.isTypeTwo}}
.form-group
  .col-sm-12
    <button {{action 'addQuestion' model target=controller.controllers.quizzes}} type='button' class='btn btn-info'>
    span.glyphicon.glyphicon-plus
    |  Add Question
    </button>
| {{/unless}}
