.form-group.error
  .col-sm-offset-2.col-sm-10
    | {{model.error}}
.form-group
  .label.col-sm-2.control-label
    | Title 
    a.popover-dismiss(
      href='javascript:'
      data-toggle='popover'
      title='Quiz title'
      data-content='Quiz title to be displayed.'
    )
        | ?

  .col-sm-10
    | {{input type='text' class='form-control' value=model.title required='required' placeholder='Title of the quiz'}}
.form-group
  .label.col-sm-2.control-label Image
  .col-sm-10
    | {{view App.UploadView recordBinding='model'}}
.form-group
  .label.col-sm-2.control-label Excerpt
  .col-sm-10
    | {{textarea class='form-control' value=model.excerpt placeholder='Short description of the quiz' rows='3' record=model}}
    | {{char-count value=model.excerpt max=200 show=model.showLimit}}
.form-group
  .label.col-sm-2.control-label Author
  .col-sm-10
    | {{input type='text' class='form-control' value=model.fullName placeholder='Your name, e.g. Alan Smithee'}}
.form-group
  .label.col-sm-2.control-label Quiz type
  .col-sm-10
    | {{view Em.Select  class='form-control' valueBinding='model.quizType' contentBinding='controller.controllers.quizzes.quizTypes' optionLabelPath='content.label' optionValuePath='content.value'}}

.row
  .col-sm-12
    h4 Social &amp; Meta tags:
    .form-group
      .label.col-sm-2.control-label URL
      .col-sm-10
        | {{input type='text' class='form-control' value=model.url placeholder='The URL for the page that the quiz will live on.'}} 
    .form-group
      .label.col-sm-2.control-label Meta title
      .col-sm-10
        | {{input type='text' class='form-control' value=model.metaTitle placeholder='The title for the page in search engines, social media, etc. Should be less than 90 characters.' max='90'}}
    .form-group
      .label.col-sm-2.control-label Tweet 
      .col-sm-10
        | {{input type='text' class='form-control' value=model.metaTweet placeholder='Custom tweet message. Should be less than 90 characters. Include the result in the tweet with {{score}}.' max='30'}}
    .form-group
      .label.col-sm-2.control-label Meta description
      .col-sm-10
        | {{textarea class='form-control' value=model.metaDesc placeholder='The description for the page in search engines, social media, etc. Should be less than 200 characters.' rows='3' max='200'}}
    .form-group
      .label.col-sm-2.control-label Social image (for Facebook etc)
      .col-sm-10
        | {{view App.UploadView recordBinding='model' optImagePath='metaImage'}}
    
hr

.row
  .col-sm-12.clearfix
    h3 Results 
    | {{#if model.isTypeOne}}
    p <strong>Note:</strong> There should ideally be the same number of results as there are answers for each question, but this is not compulsory.
    | {{else}}
    p <strong>Note:</strong> Each result applies to a range band, e.g. If you have 20 questions and two results, then you might make the first result show for users who answer between 0 and 10, and the second one show between 11 and 20. Supply numerical minimum and maximum values for each range band.
    | {{/if}}
    | {{#each result in model.results}}

    include _result

    | {{/each}}
  

    //- .form-group
    //- .col-sm-offset-2
    <button {{action 'addResult' model target=controller.controllers.quizzes}} type='button' class='btn btn-info btn-sm'>
    span.glyphicon.glyphicon-plus
    |  Add Result
    </button>
    hr

.row
  .col-sm-12
    | {{#if model.isTypeTwo}}
    h3 Checkbox rows
    | {{else}}
    h3 Questions
    | {{/if}}
    | {{#each question in model.questions}}

    include _question

    | {{/each}}


| {{#unless model.isTypeTwo}}
.form-group
  .col-sm-12
    <button {{action 'addQuestion' model target=controller.controllers.quizzes}} type='button' class='btn btn-info'>
    span.glyphicon.glyphicon-plus
    |  Add Question
    </button>
| {{/unless}}
