.col-md-3

.col-md-6

  <form role='form' class='form-horizontal' {{action 'grant' model on='submit'}}>
  legend Create new quiz
  .form-group.error
    .col-sm-offset-2.col-sm-10
      | {{error}}
  .form-group
    .label.col-sm-2.control-label Title
    .col-sm-10
      | {{input type='text' class='form-control' value=model.title required='required' placeholder='Title of the quiz'}}
  .form-group
    .label.col-sm-2.control-label Image
    .col-sm-10
      | {{view App.UploadView modelBinding='model'}}
  .form-group
    .label.col-sm-2.control-label Excerpt
    .col-sm-10
      | {{textarea class='form-control' value=model.excerpt required='required' placeholder="Short description of the quiz" rows="3"}}
  .form-group
    .label.col-sm-2.control-label Author
    .col-sm-10
      | {{input type='text' class='form-control' value=model.fullname required='required' placeholder="Enter your Full Name like Alan Smithee"}}
  .form-group
    .label.col-sm-2.control-label Quiz type
    .col-sm-10
      | {{view Ember.Select value=model.quiztype content=controller.controllers.quizzes.quiztypes class="form-control" prompt="Pick a type:"}}
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(type='submit') Save
  </form>

.col-md-3